/* Styling Slider Baru */

.banner-slide {
    height: 100vh;
    /* Full layar */
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Efek Gelap di atas Gambar biar Tulisan Jelas */

.banner-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Hitam transparan 50% */
}


/* Biar Tulisan di atas Overlay */

.carousel-caption {
    z-index: 2;
    bottom: 30%;
    /* Posisi tulisan agak ke tengah */
}

.carousel-fade .carousel-item {
    transition-duration: 1.5s;
    /* Kecepatan transisi fade (halus) */
}

.navbar-brand img {
    max-height: 40px;
    /* Atur tinggi maksimal logo */
    width: auto;
    /* Biar lebarnya menyesuaikan otomatis */
    object-fit: contain;
}


/* Biar teks brand lebih tegas */

.navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3545;
}

.lingkaran i {
    position: relative;
    top: 30px;
}

.crop-img {
    object-fit: cover;
}

.Tim img {
    width: 200px;
    /* Atur lebar foto (samakan dengan yang tengah) */
    height: 200px;
    /* Atur tinggi harus sama dengan lebar biar bulat sempurna */
    object-fit: cover;
    /* Biar foto nggak gepeng/ketarik */
    border: 5px solid red;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

.client img {
    height: auto;
    max-height: 50px;
}

.Kontak {
    background: url("https://wallpaperaccess.com/full/1867010.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #fff;
}